<h2>Details</h2>

  <p>NAME : {{celebrityDetail.name}}</p>
  <p>OCCUPATION : {{celebrityDetail.occupation}}</p>
  <p>CATCH PHRASE : {{celebrityDetail.catchPhrase}}</p>

    <a href="/celebrities/{{celebrityDetail._id}}/edit">EDIT</a>