<h2>Celebrities List</h2>

<a href="/celebrities/create">CREATE A NEW CELEBRITY</a>

<ul>
{{#each celebrities}}
  <li>{{this.name}}
    <a href="/celebrities/{{_id}}">Details</a> | 
    <a href="/celebrities/{{_id}}/delete">Delete</a>
  </li>
{{/each}}
</ul>
