<h2>Movies List</h2>

<a href="/movies/create">CREATE A NEW MOVIE</a>

<ul>
{{#each movies}}
  <li>TITLE: {{this.title}} <a href="/movies/{{this._id}}">Details</a> | <a href="/movies/{{this._id}}/delete">Delete</a></li>
{{/each}}
</ul>